@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
* {
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system,
    BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.search-container input {
  width: 400px;
  height: 40px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px solid rgb(209, 209, 209);
  padding: 0 10px;
  margin-right: 10px;
}

.table {
  margin-top: 20px;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}

.th,
.td {
  border: 1px solid rgb(197, 197, 197);
  padding: 8px;
  text-align: left;
  text-align: center;
}

.cell-check-list {
  border-radius: 20%;
  color: rgb(57, 57, 57);
  align-items: center;
}

.th {
  background-color: #f2f2f2;
}

.tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tr:hover {
  background-color: #ddd;
}

/* CSS */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}

.take_data_button {
  margin-bottom: 20px;
}
